aws_child_step_workflow/child_workflow.json
{
  "Comment": "Start Workflow",
  "StartAt": "Text or Audio?",
  "States": {
    "Text or Audio?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.TextorAudio",
          "StringEquals": "Text",
          "Next": "Summarization & Keyword Extraction"
        },
        {
          "Variable": "$.body.TextorAudio",
          "StringEquals": "Audio",
          "Next": "Speech-to-Text"
        }
      ]
    },
    "Speech-to-Text": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:SpeechtoText",
      "Next": "Summarization & Keyword Extraction"
    },
    "Summarization & Keyword Extraction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.SummaryKeywords",
          "StringEquals": "Yes",
          "Next": "Summarize Text"
        },
        {
          "Variable": "$.body.SummaryKeywords",
          "StringEquals": "No",
          "Next": "Language Translation"
        }
      ]
    },
    "Summarize Text": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:SummarizeText",
      "Next": "Extract Keywords"
    },
    "Extract Keywords": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:ExtractKeywords",
      "Next": "Language Translation"
    },
    "Language Translation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:LanguageTranslation",
      "Next": "Output as Audio?"
    },
    "Output as Audio?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.OutputAudio",
          "StringEquals": "Yes",
          "Next": "Text-to-Speech"
        },
        {
          "Variable": "$.body.OutputAudio",
          "StringEquals": "No",
          "Next": "Output files"
        }
      ]
    },
    "Text-to-Speech": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:TexttoSpeech",
      "Next": "Output files"
    },
    "Output files": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:Outputfiles",
      "End": true
    }
  }
}